.modal-dialog {
	position: static;
	transition: none !important;
}

.modal-content {
	background: transparent;
	border: none;
	position: static;

	.modal-header {
		border: none;

		button {
			color: #fff;
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
	}

	.modal-body {
		padding-top: 0;
        position: static;
        width:inherit;
        img {
            width:inherit;
            display: block;
            margin:auto;
            // object-fit: none;
	   }
	   img.Dior{
		width: 41% !important;
	   }
	   
	}
}